<!DOCTYPE html>
<html ng-app="angularfire">
<head>
	<title>testing angular fire</title>
</head>
<body ng-controller="fireCtrl as ctrl">

	<h2>Saving Values to Firebase</h2>

	<button ng-click="fireVals.$save()">send fireVal</button>

	<input type="text" ng-model="fireVals.fireVal"></input>

	<p>{{ fireVals.fireVal }}</p>

	<h2>Three Way Data Binding</h2>

	<input type="text" ng-model="fireBindings.fireVal"></input>

	<p>{{ fireBindings.fireVal }}</p>

<!-- loading script files -->
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="bower_components/firebase/firebase.js"></script>
<script type="text/javascript" src="bower_components/angularfire/dist/angularfire.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>